<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OnlineMapService</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> OSM
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bing" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Bing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapbox" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Mapbox
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="esri" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> ESRI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tomtom" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> TomTom
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
